html, body, h1, h2, h3, div, ul, li, ol {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.atf {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
    margin: 2vh;
    border: 5px solid blue;
    border-radius: 1rem;
    overflow: auto;
}
h1 {
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    padding: 0.6rem;
}

.formfield div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    min-width: 50vw;
}

.formfield label {
    width: 50%;
}

.formfield input {
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
}

.spec1 {
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.1rem 0.6rem !important;
    margin-top: 1rem;
}

.records-display {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    max-height: 50vh;
    overflow-y: auto;
} 

table{
    display: inline;
    text-align: center;
    margin: 0 auto;
    overflow: auto;
}

table td,th {
    padding: 0.4rem;
}

.hmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1vw;    
}

.hmenu button {
    padding: 0.2vh 1vw;
    font-weight: bolder;
    font-size: 2vw;
}

.hold {
    position: absolute;
    top: 90vh;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem 0.8rem 0.5rem;
}