<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>

<form action="/login" method="post">
    <ul style="list-style:none">
        <li><input type="text" name="username" placeholder="email"></li>
        <li><input type="password" name="password"></li>
        <li><input type="submit"></li>
    </ul>

</form>

<h1><a href="/signup">go to Signup</a></h1>
<h2><a href="/">go to Index</a></h2>

</body>
</html>