<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Chart Test</title>
  <meta name="description" content="Chart Testing Application">
  <meta name="author" content="@boseji">

  <!--- <link rel="stylesheet" href="css/styles.css?v=1.0"> --->

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
</head>

<body>
	<h1>{{ .Title }}</h1>
	<p>{{ .Body }}</p>
</body>
</html>
