<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Function Try Out</title>
</head>
<body>
<p>{{ . }}</p>
<p>{{fdate .}}</p>
<p>Format 1 : {{ . | fdate | addon}}</p>
<p>Format 2 : {{fdate . | addon}}</p>
</body>
</html>