<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

        }

        img {
            border: 2px solid skyblue;
            border-radius: 8px;
            height: 18rem;
            max-width: 50rem;
        }
    </style>
</head>

<body>
    <p>Pictures</p>
    <img src="pics/dog.jpg"> <br />
    <img src="pics/star.png">
</body>

</html>
